.ContenedoritemDetail {
    display: flex;
}

.itemDetailImg > img {
    width: 100%;
}

.itemDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    width: 112%;
}

.itemDetail > h1 {
    font-size: 1rem;
}

.btnAñadir {
    height: 7%;
    position: absolute;
    top: 133%;
    width: 11%;
    right: 19%;
    font-size: 1rem;
    align-items: center;
    background-color:  #59911a;
    color: #fff;
}

.btnCarrito{
    width: 129%;
    height: 90%;
    background: #59911a;
}