.DivContenedorBotones {
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: column;
    align-items: center;
    border-top:2px solid #60833C;
    background-color: 77A24A;
}

.DivContenedorBotones > button {
    background-color: #60833C;
    color: #fff;
    width: 18%;
    padding: 1%;
    margin: 3%;
    
}

.DivContenedorBotones > h3 {
    font-size: 1rem;
}

button {
    background-color: #355B0E;
}